<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Edit</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    </head>
    <body>
        <div class="col-4"></div>
        <div style="padding: 10% 25%;">
            <div>
                <h2>Edit User <span>{{id}}</span></h2>
                <a href="/">Home</a>
            </div>
            <form action="/users/show/{{id}}" method="POST" class="p-4 bg-primary text-white">
                <div class="form-group mb-3">
                    <label class="form-label" for="first_name2">First Name:</label>
                    <input class="form-control" type="text" id="first_name2" name="first_name2" value = "{{users1[0]['first_name']}}">
                </div>
                <div class="form-group mb-3">
                    <label class="form-label" for="last_name2">Last Name:</label>
                    <input class="form-control" type="text" id="last_name2" name="last_name2" value= "{{users1[0]['last_name']}}">
                </div>
                <div class="form-group mb-3">
                    <label class="form-label" for="email2">Email:</label>
                    <input class="form-control" type="email" id="email2" name="email2" value="{{users1[0]['email']}}">
                </div>
                <div class="form-group mt-5 px-5">
                    <input class="form-control" type="submit" value="Update">
                </div>
            </form>
            <a href="/users/data/{{id}}">Show User</a>
        </div>
    </body>
</html>
